repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-added-large-files
    - id: trailing-whitespace
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: end-of-file-fixer
    - id: check-merge-conflict
      exclude: docs/
    - id: name-tests-test
      args: [--pytest-test-first]
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: debug-statements
    - id: check-symlinks
    - id: detect-private-key
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-no-eval
      - id: python-use-type-annotations
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-black>=0.3.6
        language_version: python3
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.10
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.13.0
    hooks:
    - id: blacken-docs
      additional_dependencies:
      - black==22.12.0
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.3
    hooks:
    - id: pycln
      args: [--config=pyproject.toml]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
        exclude: .git
      - id: remove-tabs
        exclude: .git
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        files: ^.*\.(py|c|h|md|rst|yml)$
        args: ["--ignore-words-list", "CNA,nd"]
        additional_dependencies:
          - tomli
